:root {
  --code-background: #eeeeee;
  --code-text: #303030;
  --code-comment: #6b7279;
  --code-type: #9f3b4f;
  --code-include: #8c3a94;
  --code-string: #6959a1;
  --code-class-name: #4968a8;
  --code-numbers: #a58a2a;
  --code-variables: #4689cc;
  --code-functions: #cf5da8;
  --code-literal: #db651c;

  --dark-code-background: #1b1b1b;
  --dark-code-text: #f7f7f7;
  --dark-code-comment: #80878d;
  --dark-code-type: #ef98a8;
  --dark-code-include: #c596c9;
  --dark-code-string: #a59cc7;
  --dark-code-class-name: #94a5cb;
  --dark-code-numbers: #e8d670;
  --dark-code-variables: #77b5e3;
  --dark-code-functions: #df8dc0;
  --dark-code-literal: #f6b99a;
}

.backgrounds .dark.default-container,
.backgrounds .dark.v-split-container,
.backgrounds .dark.grid-container,
.backgrounds .dark.caption-container,
.backgrounds .dark.title-image-container {
  background-color: var(--darkaccent1color);
}

.backgrounds .light.default-container,
.backgrounds .light.v-split-container,
.backgrounds .light.grid-container,
.backgrounds .light.caption-container,
.backgrounds .light.title-image-container {
  background-color: var(--lightaccent1color);
}
